<body class="dark">
  <div  class="min-h-screen w-screen p-10    bg-sec flex items-center justify-center">
    <div [@divstate]="stata" class="container max-w-6xl lg:max-w-4xl  relative p-6 lg:p-10 rounded-xl bg-white">
      <div class="flex flex-col w-full lg:w-1/2 lg:pr-6">
        <div class="flex flex-col space-y-1 mb-8 font-sans">
            <p class=" text-2xl lg:text-3xl font-bold font-sanss tracking-wide">Log In</p>
            <p class="txt">
              Welcome to our platform! 👋 Log in for personalized property recommendations, market insights, and expert advice. Simplifying your real estate journey, whether buying, selling, or renting.
              </p>
        </div>
        <!-- form stage -->
        <form [formGroup]="myform" (ngSubmit)="onSubmit()" class="flex flex-col items-center justify-center space-y-0 mb-8">
          <mat-form-field class="w-full">
            <mat-label>Email Address</mat-label>
            <input matInput required type="email" formControlName="email">
            <mat-error *ngIf="myform.get('email')?.invalid">Please enter a valid email address</mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input matInput required type="password" formControlName="password">
            <mat-error *ngIf="myform.get('password')?.invalid">Please enter your password</mat-error>
          </mat-form-field>
          <div class="flex flex-col w-full lg:flex-row space-y-2 lg:space-y-0 lg:justify-between items-center">
            <p (click)="forget()" class="txt text-center lg:text-start cursor-pointer flex">
              Forgot your password?
            </p>
            <mat-spinner  [diameter]="20" *ngIf="reset==='start'"></mat-spinner>
            <button id="next" type="submit" class="w-full   text-white text-lg font-sec lg:w-36 lg:p-4 bg-blue-800 text-center rounded-lg p-6
                    hover:opacity-90 hover:-translate-y-1 transition-all duration-150 hover:shadow-xl">
              NEXT
              <mat-spinner class="ml-4" [diameter]="20" color="accent"  *ngIf="log==='start'"></mat-spinner>
            </button>
          </div>
        </form>

        <!-- bottom -->
        <hr>
        <div class="flex flex-col items-center justify-center space-y-6 my-6 mb-8">
          <p class="txt font-bold cursor-pointer" routerLink="/auth/signup">or Sign Up</p>
          <div
          class="flex flex-col space-x-0 w-full space-y-6 md:flex-row md:space-x-4 md:space-y-0">
          <button
            class=" flex items-center justify-center py-2 space-x-3 border border-gray-300 rounded shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition duration-150 md:w-full">
            <img src="../../../assets/svg/google.png" alt="" class="w-9" />
            <span class="font-thin">Google</span>
          </button>
          <button
            class="flex items-center justify-center py-2 space-x-3 border border-gray-300 rounded shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition duration-150 md:w-full">
            <img src="../../../assets/svg/facebook.png" alt="" class="w-9" />
            <span class="font-thin">Facebook</span>
          </button>
        </div>
        </div>
      </div>
      <div class=" hidden lg:flex w-1/2  items-end justify-end absolute object-contain h-5/6 right-0 bottom-20 ">
          <img class=" h-full rounded-r-xl  object-cover" src="../../../assets/svg/undraw_login_re_4vu2.svg" alt="">
      </div>
  </div>

<!-- <div *ngIf="loggedIn">

  <img [src]="user.photoUrl" alt="">
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div> -->

<!-- <div id="g_id_onload"
     data-client_id="255791283750-mpdln5a284jiqtvfg07ss34lnul4dktb.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:4200/auth/login"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="center"
     data-width="50px">
</div> -->



  </div>
</body>
