
<app-header ></app-header>

<body class=" space-y-12  h-fit  overflow-x-hidden">

  <!-- hero section -->
  <section id="hero" class="min-h-screen  md:pb-36 md:pt-0  xl:pt-0 bg-prim opacity-95  xl:pb-6">
    <div class="pursh"></div>
    <!-- main container -->
    <div class="flex  w-full flex-col lg:flex-row pt-4   md:pt-6 lg:pt-0  md:px-0 items-center space-y-10 lg:space-y-0 md:justify-center md:items-center   lg:items-end  ">
      <!-- DETAILS -->
      <div class="flex font-sans flex-col space-x-4 w-[80%]  items-center justify-center  space-y-10 md:w-2/3  md:pl-10 lg:pl-24 xl:pl-40 md:space-y-12    lg:px-20 xl:px-16  text-white ">
        <div class=" relative w-full  ">
          <div class="-top-2 opacity-90 left-36 md:left-64 -z-50 p-6 w-4 bg-orange-500 rounded-full absolute"></div>
          <h1 class="text-3xl md:text-6xl  font-semibold text-start max-w-xs md:max-w-lg leading-10 tracking-wide cursor-default">Discover <br>
            Most Suitable
            Property</h1>
            <p class="text-sm mt-8 mb-8 md:mt-10 md:mb-10 text-start max-w-sm text-gray-400">
              Find a variety of properties that suit you very easilty
              Forget all difficulties in finding a residence for you
            </p>
            <!-- SEARCH -->
            <div class="flex bg-for items-center md:w-fit   lg:w-fit justify-between px-4 md:px-6 p-3 rounded-lg">
              <!-- location icon -->
              <i class='bx bxs-home text-blue-700 text-2xl cursor-pointer ' ></i>
              <!-- input -->
              <input placeholder="search your home" type="text" class=" group bg-for focus:outline-none text-black w-[60%] md:placeholder:text-md md:placeholder:px-6 placeholder:text-xs placeholder:px-4">
              <!-- search button -->
              <button routerLink='/flats' routerLinkActive="router-link-active"  class=" bg-gradient-to-r from-blue-500 to-blue-900 px-4 py-2 md:px-4 md:py-2 rounded-lg text-center
                hover:scale-105 hover:shadow-md hover:shadow-blue-800 hover:bg-blue-900 transition-all duration-200">Search</button>
            </div>
        </div>
        <!-- NUMBERS -->
        <div class="flex items-center justify-between md:justify-start md:space-x-6 md:px-2  w-full ">
          <div class="flex flex-col  items-center">
            <h1 appMyDirective class="text-2xl text-white md:text-3xl" >9,000<span class=" text-yellow-500 ">+</span></h1>
            <p class="text-xs text-gray-400 md:text-sm">Premium Product</p>
          </div>
          <div class="flex flex-col  items-center">
            <h1 class="text-2xl text-white md:text-3xl">2,000<span class=" text-yellow-500 ">+</span></h1>
            <p class="text-xs text-gray-400 md:text-sm">Happy Customer</p>
          </div>
          <div class="flex flex-col  items-center">
            <h1 class="text-2xl text-white md:text-3xl">28<span class=" text-yellow-500 ">+</span></h1>
            <p class="text-xs text-gray-400 md:text-sm">Awards Winning</p>
          </div>
        </div>
      </div>
      <!-- IMAGE -->
      <div class=" w-full md:w-2/3  lg:w-1/2 sm:px-20  px-10 md:px-16 lg:px-28 xl:px-32 ">
        <!-- image container -->
        <div class="p-2 group h-[23rem] md:h-[35rem] xl:h-[36rem] rounded-t-full relative border-[6px] border-gray-900 overflow-hidden">
          <img src="../../assets/hero/hero-image.webp" alt="Hero Image" class="absolute inset-0 w-full h-full object-cover rounded-t-full transition-all duration-300 cursor-pointer group-hover:scale-105">
      </div>
      </div>
    </div>
  </section>
<!--  -->


  <!-- THE MOST RENTAL LISTINGS -->
  <section id="rental " >
    <!-- MAIN CONTAINER -->
    <div class="flex font-sans flex-col items-center space-y-14 px-6 md:px-24 pb-6">
      <div class="flex flex-col items-center space-y-4">
        <h1 class="text-4xl font-semibold tracking-wide text-center">The Most Rental Listings</h1>
        <p class="text-xl text-gray-500 text-center lg:text-start">Choose from over 1 million apartments, houses, condos, and townhomes for rent.</p>
      </div>
      <div class="grid grid-rows-2 lg:grid-rows-1 lg:grid-cols-2 bg-gray-200 overflow-hidden">
        <div class="flex flex-col items-center lg:items-start space-y-4 px-6  md:px-20 py-16">
          <h1 class="text-3xl font-semibold tracking-wide text-center">Renting Made Simple</h1>
          <p class="text-base text-gray-500 text-center lg:text-start">Browse the highest quality listings, apply online, sign your lease, and even pay your rent from any device.</p>
          <button class="text-thr text-lg hover:underline">Find Out More</button>
        </div>
        <div class="bg-black relative group overflow-hidden">
          <img class="absolute inset-0 w-full h-full object-cover  transition-all duration-300 cursor-pointer group-hover:scale-105" src="../../assets/sub/pexels-binyamin-mellish-1396122_sIi8TWs.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
<!--  -->

  <!-- BUY , SELL , RENT -->
  <section id="cards">
    <!-- MAIN CONTAINER -->
    <div class="flex font-sans flex-col items-center xl:flex-row space-y-5 xl:space-y-0 xl:space-x-5 bg-gray-100 py-16 px-4 md:px-16 xl:px-4">
      <!-- card1 -->
      <div class="flex flex-col md:flex-row xl:flex-col  items-start md:items-center space-y-5 bg-white p-6 rounded-md shadow-md hover:shadow-xl hover:scale-105 transition-all duration-200 ">
        <div class="flex flex-col items-start md:items-center space-y-1 ">
          <img class="w-full" src="../../assets/hero/Buy_a_home.webp" alt="">
          <h1 class="text-xl font-semibold">Buy a home</h1>
        </div>
        <div class="flex flex-col items-start xl:items-center space-y-6">
          <h1 class="text-xl font-semibold hidden xl:hidden md:block">Buy a home</h1>
          <p class="text-gray-500 text-md md:text-start xl:text-center">Find your place with an immersive photo experience and the most listings,
              including things you won’t find anywhere else.</p>
          <button class="px-4 py-2 text-thr outline outline-1 rounded-lg outline-thr hover:bg-thr hover:text-white transition-all duration-200 ">Browse homes</button>
        </div>
      </div>
      <!-- card2 -->
      <div class="flex flex-col md:flex-row xl:flex-col  items-start md:items-center space-y-5 bg-white p-6 rounded-md shadow-md hover:shadow-xl hover:scale-105 transition-all duration-200 ">
        <div class="flex flex-col items-start md:items-center space-y-1 ">
          <img class="w-full" src="../../assets/hero/Sell_a_home.webp" alt="">
          <h1 class="text-xl font-semibold">Sell a home</h1>
        </div>
        <div class="flex flex-col items-start xl:items-center space-y-6">
          <h1 class="text-xl font-semibold hidden xl:hidden md:block">Sell a home</h1>
          <p class="text-gray-500 text-md md:text-start xl:text-center">No matter what path you
            take to sell your home, we can help you navigate a successful sale Find your place with anywhere.</p>
          <button class="px-4 py-2 text-thr outline outline-1 rounded-lg outline-thr hover:bg-thr hover:text-white transition-all duration-200 ">See your options</button>
        </div>
      </div>
      <!-- card3 -->
      <div class="flex  flex-col md:flex-row xl:flex-col  items-start md:items-center space-y-5 bg-white p-6 rounded-md shadow-md hover:shadow-xl hover:scale-105 transition-all duration-200 ">
        <div class="flex flex-col items-start md:items-center space-y-1 ">
          <img class="w-full" src="../../assets/hero/Rent_a_home.webp" alt="">
          <h1 class="text-xl font-semibold ">Rent a home</h1>
        </div>
        <div class="flex flex-col items-start xl:items-center space-y-6">
          <h1 class="text-xl font-semibold hidden xl:hidden md:block">Rent a home</h1>
          <p class="text-gray-500 text-md md:text-start xl:text-center">We’re creating a seamless online experience –
            from shopping on the largest rental network, to applying, to paying rent.</p>
          <button class="px-4 py-2 text-thr outline outline-1 rounded-lg outline-thr hover:bg-thr hover:text-white transition-all duration-200 ">Find rentals</button>
        </div>
      </div>
    </div>
  </section>
<!--  -->


  <!-- Our Values -->
  <section id="ourvalues">
    <!-- MAIN CONTAINER -->
    <div class="w-full md:pr-10 flex flex-col-reverse items-center md:flex-row space-y-4 md:space-y-0  p-4  overflow-hidden">
      <!-- IMAGE -->
      <div class=" w-full   sm:px-20  px-10 md:px-8 lg:px-28 xl:px-32 ">
        <!-- image container -->
          <div class="p-2 group h-[23rem]  md:h-[35rem] xl:h-[36rem] rounded-t-full relative border-[6px] border-gray-100 overflow-hidden">
            <img src="../../assets/sub/1_FdsyHyS.jpg" alt="Hero Image" class="absolute inset-0 w-full h-full object-cover rounded-t-full transition-all duration-300 cursor-pointer group-hover:scale-105">
        </div>
      </div>
    <!-- values -->
      <div class="p-2  font-sans flex flex-col space-y-8 md:ml-8">
        <div class="flex flex-col items-start space-y-4">
          <h1 class="text-xl text-yellow-500 font-semibold tracking-wide">Our Value</h1>
          <h1 class="text-2xl text-blue-900 tracking-wide font-semibold">Value We Give to You</h1>
          <p class="text-gray-500 text-lg">
            We always ready to help by providijng the best services for you.
            We beleive a good blace to live can make your life better
          </p>
        </div>
        <mat-accordion class="space-y-6 mt-4">
          <!-- BEST -->
          <mat-expansion-panel class="py-2">
            <mat-expansion-panel-header >
              <mat-panel-title>
                <img class="w-10" src="../../assets/hero/protect-svgrepo-com.svg" alt="">
              </mat-panel-title>
              <mat-panel-description >
                <p >Best interest rates on the market</p>
              </mat-panel-description>
            </mat-expansion-panel-header >
            Exercitation in fugiat est ut ad ea cupidatat ut in cupidatat occaecat ut occaecat consequat est minim minim esse tempor
            laborum consequat esse adipisicing eu reprehenderit enim.
          </mat-expansion-panel>
          <!-- PREVENT -->
          <mat-expansion-panel class="py-2">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <img class="w-10" src="../../assets/hero/check-svgrepo-com.svg" alt="">
              </mat-panel-title>
              <mat-panel-description>
                <p >Prevent unstable prices</p>
              </mat-panel-description>
            </mat-expansion-panel-header>
            Exercitation in fugiat est ut ad ea cupidatat ut in cupidatat occaecat ut occaecat consequat est minim minim
            esse tempor laborum consequat esse adipisicing eu reprehenderit enim.
          </mat-expansion-panel>
          <!-- PRICE -->
          <mat-expansion-panel class="py-2">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <img class="w-10" src="../../assets/hero/marker-svgrepo-com.svg" alt="">
              </mat-panel-title>
              <mat-panel-description>
                <p>Best price on the market</p>
              </mat-panel-description>
            </mat-expansion-panel-header>
            Exercitation in fugiat est ut ad ea cupidatat ut in cupidatat occaecat ut occaecat consequat est minim minim esse
            tempor laborum consequat esse adipisicing eu reprehenderit enim.
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </section>
  <!-- CONTACT US -->
  <section id="ContactUs">
    <!-- MAIN CONTAINER -->
    <div class="w-full md:pl-10 flex flex-col items-center md:flex-row space-y-6 md:space-y-0  p-4  overflow-hidden">
    <!-- values -->
        <div class="p-2  font-sans flex flex-col space-y-8 ">
          <div class="flex flex-col items-start space-y-4">
            <h1 class="text-xl text-yellow-500 font-semibold tracking-wide">Our Contact Us</h1>
            <h1 class="text-2xl text-blue-900 tracking-wide font-semibold">Easy to contact us</h1>
            <p class="text-gray-500 text-lg">
              We always ready to help by providijng the best services for you.
              We beleive a good blace to live can make your life better
            </p>
          </div>
          <!-- CALLS -->
          <div class="grid gap-6 grid-cols-1 grid-rows-4 md:grid-rows-2 md:grid-cols-2">
            <!-- CALL -->
            <div class=" p-4 bg-white border border-gray-300 rounded-lg hover:scale-105 hover:shadow-2xl transition-all duration-500 space-y-4">
              <!-- data -->
              <div class="flex items-center space-x-6">
                <!-- icon -->
                <div><i class='bx bx-phone-call text-4xl text-thr' ></i></div>
                <!-- details -->
                <div class="flex flex-col items-start space-y-1">
                  <h1 class="text-base font-semibold">Call</h1>
                  <p class="text-md text-gray-500">01026820685</p>
                </div>
              </div>
                <!-- Button -->
                <button class="w-full rounded-lg py-2 text-center bg-gray-300 text-thr hover:bg-thr hover:text-white font-semibold hover:scale-90 transition-all duration-500">
                  Call now
                </button>
            </div>
            <!-- CHAT -->
            <div class=" p-4 bg-white border border-gray-300 rounded-lg hover:scale-105 hover:shadow-2xl transition-all duration-500 space-y-4">
              <!-- data -->
              <div class="flex items-start space-x-4">
                <!-- icon -->
                <div><i class='bx bx-message-dots text-4xl text-thr'></i></div>
                <!-- details -->
                <div class="flex flex-col items-start space-y-1">
                  <h1 class="text-base font-semibold">Chat</h1>
                  <p class="text-md text-gray-500">01026820685</p>
                </div>
              </div>
                <!-- Button -->
                <button class="w-full rounded-lg py-2 text-center bg-gray-300 text-thr hover:bg-thr hover:text-white font-semibold hover:scale-90 transition-all duration-500">
                  Call now
                </button>
            </div>
            <!-- VIDEO CALL -->
            <div class=" p-4 bg-white border border-gray-300 rounded-lg hover:scale-105 hover:shadow-2xl transition-all duration-500 space-y-4">
              <!-- data -->
              <div class="flex items-start space-x-4">
                <!-- icon -->
                <div><i class='bx bx-video text-4xl text-thr' ></i></div>
                <!-- details -->
                <div class="flex flex-col items-start space-y-1">
                  <h1 class="text-base font-semibold">Video Call</h1>
                  <p class="text-md text-gray-500">01026820685</p>
                </div>
              </div>
                <!-- Button -->
                <button class="w-full rounded-lg py-2 text-center bg-gray-300 text-thr hover:bg-thr hover:text-white font-semibold hover:scale-90 transition-all duration-500">
                  Call now
                </button>
            </div>
            <!-- MESSAGE -->
            <div class=" p-4 bg-white border border-gray-300 rounded-lg hover:scale-105 hover:shadow-2xl transition-all duration-500 space-y-4">
              <!-- data -->
              <div class="flex items-start space-x-4">
                <!-- icon -->
                <div><i class='bx bx-message-rounded text-4xl text-thr'></i></div>
                <!-- details -->
                <div class="flex flex-col items-start space-y-1">
                  <h1 class="text-base font-semibold">Message</h1>
                  <p class="text-md text-gray-500">01026820685</p>
                </div>
              </div>
                <!-- Button -->
                <button class="w-full rounded-lg py-2 text-center bg-gray-300 text-thr hover:bg-thr hover:text-white font-semibold hover:scale-90 transition-all duration-500">
                  Call now
                </button>
            </div>
          </div>
        </div>
        <!-- IMAGE -->
        <div class=" w-full   sm:px-20  px-10 md:px-8 lg:px-28 xl:px-32 ">
          <!-- image container -->
            <div class="p-2 group h-[23rem]  md:h-[35rem] xl:h-[36rem] rounded-t-full relative border-[6px] border-gray-100 overflow-hidden">
              <img src="../../assets/sub/ss.jpg" alt="Hero Image" class="absolute inset-0 w-full h-full object-cover rounded-t-full transition-all duration-300 cursor-pointer group-hover:scale-105">
          </div>
        </div>
    </div>
  </section>
<!--  -->




  <!-- GET START  -->
  <section id="getstart">
    <!-- MAIN CONTAINER -->
    <div class="w-screen mx-auto p-10 ">
      <!-- contain -->
      <div class="flex font-sans flex-col items-center justify-center py-8 space-y-5 bg-blue-600 rounded-lg" >
        <h1 class="text-white text-xl md:text-2xl lg:text-3xl font-semibold cursor-default">Get started with Homyz</h1>
        <p class="text-sm text-gray-300 text-center max-w-xs md:max-w-sm lg:max-w-lg lg:leading-7">Subscribe and find super attractive price quotes from us.
          <br><span class="text-gray-100">Find your residence soon</span></p>
          <button class="px-6 py-2 bg-gray-100 bg-opacity-10 hover:bg-opacity-20 hover:shadow-lg hover:drop-shadow-2xl  font-sans font-semibold  border-2 border-white rounded-xl text-base text-center text-white hover:scale-105 transition-all duration-200">
            Get Started
          </button>
      </div>
    </div>
  </section>



<!--  -->
</body>
<app-footer ></app-footer>
