

<section>
  <div class="bg-for w-screen h-screen lg:p-32 p-6">
    <!-- main container -->
    <form [formGroup]="myform" (ngSubmit)="reset()" class="max-w-6xl mx-auto p-16 border border-prim rounded-xl shadow-xl">
      <h1 class="mx-auto text-center pb-10 text-4xl font-sans font-semibold">Reset your Password</h1>
      <mat-form-field class="w-full mx-auto">
        <mat-label>New Password</mat-label>
        <input  matInput required type="password" formControlName="password">
        <mat-error *ngIf="myform.get('password')?.invalid">Please enter a valid Password</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full mx-auto">
        <mat-label>ConfirmPassword</mat-label>
        <input  matInput required type="password" formControlName="ConfirmPassword">
        <mat-error *ngIf="myform.get('ConfirmPassword')?.invalid">ConfirmPassword must match Password</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" ba>Submit</button>
    </form>
  </div>
</section>

