<header class="bg-gray-100 flex items-center justify-between px-4 md:px-16 lg:px-36 p-2">
  <!-- left -->
  <div class="space-x-6 flex items-center p-2">
    <div class="flex items-center space-x-1 cursor-pointer hover:text-gray-500 transition-all duration-200">
      <i class='bx bx-world'></i>
      <h1 class="font-sans">EN</h1>
    </div>
    <div class="flex items-center space-x-1 cursor-pointer hover:text-gray-500 transition-all duration-200">
      <i class='bx bx-cog' ></i>
      <h1 class="font-sans md:flex text-center ">Site setting</h1>
    </div>
  </div>
  <!-- right -->
  <div class="space-x-4 lg:space-x-6 flex items-center p-2">
    <div class="group flex items-center space-x-1 cursor-pointer  transition-all duration-200">
      <i class='bx bxs-heart group-hover:text-red-500 transition-all duration-300' ></i>
      <h1 class="hidden lg:flex md:text-sm lg:text-base font-sans group-hover:text-gray-500 transition-all duration-300">Favourite properties</h1>
    </div>
    <div class="group  flex items-center space-x-1 cursor-pointer ">
      <i class='bx bxs-star group-hover:text-yellow-500 transition-all duration-300' ></i>
      <h1 class="hidden md:text-sm lg:text-base lg:flex font-sans group-hover:text-gray-500 transition-all duration-300">Saved searches</h1>
    </div>
    <div class="flex items-center space-x-1 cursor-pointer group">
      <i class='bx bxs-user-circle text-xl group-hover:text-blue-500 transition-all duration-300'></i>
      <h1 class="hidden md:text-sm lg:text-base lg:flex font-sans group-hover:text-gray-500 transition-all duration-300" routerLink="../auth/login">Log in</h1>
    </div>
  </div>
</header>
<section class=" max-w-7xl mx-auto  px-6 p-2 space-y-1" >
  <div class="w-full items-center justify-between flex">
    <img src="../../assets/sub/logo.png" alt="">
    <div class="flex items-center space-x-2">
      <!-- <img src="../../assets/sub/logo.png" alt=""> -->
      <a href="#" class="font-sans text-base text-black hover:text-gray-300 transition-all">Find an Agency</a>
    </div>
  </div>
</section>
