
<body class="dark">
  <div  class="min-h-screen w-screen p-10    bg-sec flex items-center justify-center">
    <div [@divstate]="state" class="container max-w-6xl lg:max-w-4xl  relative p-6 lg:p-10 rounded-xl bg-white">
      <div class="flex flex-col w-full  ">
        <div class="flex flex-col space-y-1 mb-8 font-sans">
            <p class=" text-2xl lg:text-3xl font-bold font-sanss tracking-wide">Sign Up</p>
            <p class="txt max-w-xl">
              Sign up now! 🌟 Discover personalized property matches, expert advice, and market insights. Start your seamless real estate journey today.
            </p>
        </div>
        <!-- form stage -->
        <form [formGroup]="myform" (ngSubmit)="onsubmit()" class="flex space-y-2 flex-col items-center justify-center  mb-8">
          <mat-form-field class="w-full">
            <mat-label>User Name</mat-label>
            <input matInput required type="text" formControlName="username">
            <mat-error *ngIf="myform.get('email')?.invalid">Please enter your Name</mat-error>
          </mat-form-field>
          <!-- EMAIL -->
          <mat-form-field class="w-full">
            <mat-label>Email Address</mat-label>
            <input matInput required type="email" formControlName="email">
            <mat-hint>Enter your google account address to get all new offers</mat-hint>
            <mat-error *ngIf="myform.get('email')?.invalid">Please enter a valid email address</mat-error>
          </mat-form-field>
          <!-- PASSWORD -->
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input matInput required type="password" formControlName="password">
            <mat-error *ngIf="myform.get('password')?.invalid">Please enter your password</mat-error>
          </mat-form-field>
          <!-- CONFIRM PASSWORD -->
          <mat-form-field class="w-full">
            <mat-label>Confirm Password</mat-label>
            <input matInput required type="password" formControlName="confirmPassword">
            <mat-error *ngIf="myform.get('confirmPassword')!=myform.get('password')">must match password</mat-error>
          </mat-form-field>
          <!-- PHONE NUMBER -->
          <mat-form-field class="w-full">
            <mat-label>Enter your phone number</mat-label>
            <input matInput required type="number" formControlName="phone">
            <mat-error *ngIf="myform.get('phone')?.invalid">Please enter your phone number</mat-error>
          </mat-form-field>
          <!-- role -->
          <mat-form-field class="w-full">
            <mat-label>Role</mat-label>
            <mat-select required formControlName="role">
                <mat-option  value="user">User</mat-option>
                <mat-option value="owner">Owner</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- --------- -->
            <div class="flex    space-x-4  w-full   lg:space-y-0 lg:justify-between items-center">
              <button  type="submit" class="w-full text-white text-lg font-sec  lg:p-4 bg-blue-800 text-center rounded-lg p-6
                  hover:opacity-90 hover:-translate-y-1 transition-all duration-150 hover:shadow-xl flex items-center justify-center">
                  SIGNUP
                  <mat-spinner class="ml-4" [diameter]="20" color="accent"  *ngIf="sin==='start'"></mat-spinner>
              </button>
              <button *ngIf="sin==='done'" type="button"  routerLink="../activate" class="w-1/3 text-white text-lg font-sec  lg:p-4 bg-blue-800 text-center rounded-lg p-6
                  hover:opacity-90 hover:-translate-y-1 transition-all duration-250 ease-in hover:shadow-xl flex items-center justify-center">
                  Activate
              </button>
            </div>
        </form>
        <!-- bottom -->
        <hr>
        <div class="flex flex-col items-center justify-center space-y-6 my-6 mb-8">
          <p class="txt font-bold cursor-pointer" routerLink="/auth/login">or Log In</p>
          <div
          class="flex flex-col space-x-0 w-full space-y-6 md:flex-row md:space-x-4 md:space-y-0">
          <button (click)="SignupWithGoogle()"
            class="flex items-center justify-center py-2 space-x-3 border border-gray-300 rounded shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition duration-150 md:w-full">
            <img src="../../../assets/svg/google.png" alt="" class="w-9" />
            <span class="font-thin">Google</span>
          </button>
          <button (click)="SignupWithFacebook()"
            class="flex items-center justify-center py-2 space-x-3 border border-gray-300 rounded shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition duration-150 md:w-full">
            <img src="../../../assets/svg/facebook.png" alt="" class="w-9" />
            <span class="font-thin">Facebook</span>
          </button>
        </div>
        </div>
      </div>
  </div>
  </div>
</body>
